<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>

    $(document).ready(function(){
      var socket = io();
      init = function(array){
        console.log('asd');
        $('#form').html("");
        for(var i=0;i<array.length; i++){
          $('#form').append('<li>'+array[i].title+'  <a href="#" onclick="hapus('+i+')">Hapus</a>'+'</li>')
        }
      }

      hapus = function(i){
        socket.emit('delete', i);
      }

      addField = function(){
        var field = $.trim($('#field').val());
        if(field.length != 0){
          socket.emit('add', {title:field});
          $('#field').val("");
        }
      }
      $('#submit').click(addField);
      socket.on('update', function(array){
        init(array);
      });

    });
  </script>
</head>
<body>
  <h1>&nbsp;Form Field</h1>
  </br>
  <ul id="form"></ul>
  </br>
  <input type="text" id="field"></input>
  <button id="submit">Add Field</button>
</body>
</html>
